.card-tall {
  display: inline-block;
  background: #333;
  width: 19%;
  height: 29rem;
  margin-right: 5px;
  cursor: pointer;
  transition: 250ms all;
  transform-origin: left center;
  border-radius: 4px;
}
