.header--navbar {
  display: flex;
  margin: 0 3.5rem;
  padding-top: 1.9rem;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  a {
    display: flex;
  }

  @media (max-width: 1000px) {
    margin: 0 30px;
  }

  &-logo {
    height: 35px;
    width: 135px;
    margin-right: 40px;

    @media (min-width: 1450px) {
      height: 45px;
      width: 165px;
    }
  }

  &-sign-in {
    background-color: var(--primary-red);
    display: block;
    width: 85px;
    height: auto;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;

    &:hover {
      background: var(--primary-red-hover);
    }
  }
}
