.try-banner {
  display: flex;
  flex-direction: column;
  border-bottom: 8px solid #222;
  text-align: center;
  padding: 165px 45px;

  &-title {
    color: white;
    max-width: 640px;
    font-size: 4rem;
    font-weight: 500;
    margin: auto;
    line-height: 1.1;

    @media (max-width: 450px) {
      font-size: 1.75rem;
    }

    @media only screen and (min-width: 950px) and (max-width: 1449px) {
      font-size: 3.125rem;
    }
  }

  &-subtitle {
    color: white;
    font-size: 26px;
    font-weight: normal;
    margin: 16px auto;

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}
