.section {
  width: 100%;
  opacity: 1;

  &--inner {
    transition: 250ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 46.875px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}
